.container--taskEmail {
    background-color: aquamarine;
    grid-template: "email streak" 70vh / 2fr 1fr;
    grid-gap: 5vw;
    padding: 1.5vmax;
}

.container--emailEditor {
    background-color: lightgray;
    grid-template:  "reader"
                    "writter";
    grid-row-gap: 4vh;
    ;
    padding: 1.5vmax;
}

.container--emailReader {
    background-color: yellow;
    overflow: auto;
}

.container--emailWritter {
    background-color:lightsalmon;
    overflow: auto;
}

.container--streak {
    background-color: lightcoral;
    height: 100%;
}